<div class="card" style="width: 18rem;">
  <div class="card-body">
    <table>
      <tr>
        <td>
          <%= image_tag customer.get_profile_image(60,60) %>
        </td>
        <td>
          <h3 class="card-title">
  	      <%= customer.name %>
  	      </h3>
        </td>
      </tr>
      <tr>
        <td>
          <h6 class="card-subtitle mb-2 text-muted">
          <%= link_to customer.followings.count, public_customer_followings_path(customer) %> フォロー  </h6>

        </td>
        <td>
          <h6 class="card-subtitle mb-2 text-muted">
          <%= link_to customer.followers.count, public_customer_followers_path(customer) %> フォロワー
          </h6>
        </td>
      </tr>
    </table>

      <p class="card-text">自己紹介 : <%= customer.introduction %></p>
    <!--ユーザーならeditボタン、以外ならフォローボタン-->
      <% if current_customer != customer %>
        <%= render "public/relationships/btn", customer: customer %></td>
      <% else %>
        <%= link_to edit_public_customer_path(customer) do %>
          <i class="fas fa-solid fa-gear"></i>
        <%end%>

        <%= link_to public_notifications_path(customer) do %>
          <i class="fas fa-solid fa-bell"></i>
        <%end%>
      <%end%>

  </div>
</div>