  <div class="toukou">

    <h4>商品を投稿</h4>

    <%= form_with model:product, url: public_products_path do |f| %>
    <h6>商品画像</h6>
      <%= f.file_field :images, multiple: true, accept: "image/*" %>
    <h6>商品名</h6>
      <%= f.text_field :product_name %>
    <h6>商品説明</h6>
      <%= f.text_area :caption %>

    <%= f.submit '投稿' %>
    <% end %>
  </div>

