  <div class='container px-5 px-sm-0'>
    <div class='row'>

    <div class='col-md-3'>
    <h2>いいねが多い商品</h2>

        <% @all_ranks.each.with_index(1) do |product, i| %>
          <i class="fa-solid fa-crown"></i>第<%= i %>位
          <% if product.images.attached? %>
            <%= image_tag product.images.first, size: "50x50" %>
          <% else %>
            <%= image_tag 'no_image.jpg', size: "50x50" %>
          <% end %>
          <%= link_to product.product_name, public_product_path(product.id) %><br>
        <% end %>

      </li>
    </ul>
    </div>

      <div class="col-md-8 offset-md-1">
        <h2>キーワードから探す</h2>
          <table class="table table-hover table-inverse">
          <!--検索フォーム-->
          <div style="text-align:center"><%= render 'public/searches/form', customer: @customer %></div>
          <tbody>
          <h2>一覧から探す</h2>
          <% @products.each do |product| %>
          <tr>
            <td>
              <% if product.images.attached? %>
                <%= image_tag product.images.first, size: "100x100" %>
              <% else %>
                <%= image_tag 'no_image.jpg' %>
              <% end %>
            </td>
            <td><%= link_to product.product_name, public_product_path(product.id) %></td>
            <td><%= product.caption %></td>
            <td class="favorite-<%= product.id%>"><%= render "public/favorites/btn", product: product %></td>
          </tr>
          <% end %>
          </tbody>
        </table>

  </div>
  </div>
</div>