  <div class="col-md-8 offset-md-1">


  <h2>キーワードから探す</h2>
    <table class="table table-hover table-inverse">
    <!--検索フォーム-->
    <div style="text-align:center"><%= render 'public/searches/form', customer: @customer %></div>

    <tbody>
    <% @products.each do |product| %>
    <tr>
      <td>
        <% if product.images.attached? %>
          <% product.images.each do |image| %>
            <%= image_tag image.variant(resize:'100x100') %>
          <% end %>
        <% else %>
          <%= image_tag 'no_image.jpg' %>
        <% end %>
      </td>
      <td><%= link_to product.product_name, public_product_path(product.id) %></td>
      <td><%= product.caption %></td>
      <td class="favorite-<%= product.id%>"><%= render "public/favorites/btn", product: product %></td>
    </tr>
    <% end %>
    </tbody>

  </table>
</div>