<!DOCTYPE html>
<html>
  <head>
    <title>Warasiibe</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

    <!--kaminari-->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <style>
      @import url('https://fonts.googleapis.com/css2?family=Kiwi+Maru&family=Merriweather+Sans:wght@500&family=Nunito&display=swap');
    </style>

  </head>

  <body>
    <% if admin_signed_in? %>
    <header>
      <%= link_to admin_products_path, class: 'headline' do %>
        warasiibe
      <% end %>

      <%= link_to admin_products_path, class: 'button' do %>
        会員一覧
      <% end %>

      <%= link_to admin_products_path, class: 'button' do %>
        商品一覧
      <% end %>

      <%= link_to destroy_admin_session_path, method: :delete, class: 'button' do %>
        ログアウト
      <% end %>
    </header>

    <% elsif customer_signed_in? %>
    <header>
      <%= link_to public_customer_path(current_customer), class: 'headline' do %>
        warasiibe
      <% end %>

      <%= link_to public_notifications_path, class: 'button' do %>
        通知一覧
      <% end %>

      <%= link_to public_products_index_path, class: 'button' do %>
        商品を探す
      <% end %>

      <%= link_to destroy_customer_session_path, method: :delete, class: 'button' do %>
        ログアウト
      <% end %>

    </header>
    <% else %>
    <header>
      <%= link_to root_path, class: 'headline' do %>
        warasiibe
      <% end %>

      <%= link_to homes_about_path, class: 'button' do %>
        About
      <% end %>

      <%= link_to new_customer_registration_path, class: 'button' do %>
        新規登録
      <% end %>

      <%= link_to new_customer_session_path, class: "button" do %>
        ログイン
      <% end %>
    </header>
    <% end %>

    <main>
    <%= yield %>
    </main>

    <footer>
    <p class="footer-text">© All rights reserved by warasiibe</p>
    </footer>

  </body>
</html>
